{% extends "contatti/base.html" %}
{% load static %}
{% block head %}
<style>
   
    #tabella {width:30%; margin:auto;}
    #pulsanti, button {text-align:center;}
    
</style>
<script>
    function cancellaAzienda(id) {
        url = "/delete/" + id;
        alert(url);
        risp = confirm("Sei sicuro di voler cancellare questa azienda? L'operazione è irreversibile.");
        if (risp ) {
            document.location = url;
        }
    }
 </script>
    
{% endblock %}

{% block content %}
<div class="w3.container w3-pale-green" >
    <h1 class="w3-text-black">
        {% if modifica %}Modifica Azienda{% else %}Inserimento Azienda{% endif %}
    </h1>
    <form id="myform" method="POST" action="{% if modifica %}/contatti/update/{{ azienda_id }}/{% else %}/contatti/insert{% endif %}">
        {% csrf_token %}
        <table id="tabella">
           {{form.as_table}}
        </table>

        <p id="pulsanti">
           <input type="submit" value="{% if modifica %}Modifica{% else %}Invia{% endif %}">
           <input type=button value="Annulla"> <p>
        </p>
        
    </form>  
</div>


{% endblock %}