<html>
    <head>
         {% load static %}
         <style>
             body {background-image: url({% static 'diario/modella.jpg' %});
                   background-repeat: no-repeat;}
             h1 {color: blue;}
             dt {font-weight: bold; margin: 10px;}
             #scheda {display: none; margin-top: 15px;}
             td {padding: 10px;}
             #user {color: red;}
         </style>
         <script>
                  function apri() {
                      document.getElementById('scheda').style.display = 'block';
                  }
                  function chiudi() {
                      document.getElementById('scheda').style.display = 'none';
                  }
                  function barbara() {
                      document.location = {% url 'diario:index' %}
                  }
         </script>
    </head>
    
    <body>
             <h1> Diario settimanale pasti <span id=user>Giulio</span> </h1>
             <a href= {% url 'admin:index' %} >admin</a> - 
             <a href="javascript:apri()">Registra</a> - 
             <a href="javascript:barbara()">Barbara</a>
            
             <div id=scheda>
               <form method=post action = {% url 'giulio:inserisci' %}>
                   {% csrf_token %}
                   <table>
                      <tr>
                      <td>Data:<br><input name=data type=date> 
                      <td>Note:<br> <input name=note type=text>
                      <tr>
                      <td><input type=submit value="Invia"> <td> 
                          <input type=button value="Annulla" onClick=chiudi()>
                   </table>
               </form>
             </div>
            
             <dl>
             {% for elemento in lista_settimanale %}
                  <dt>settimana: <a href="{% url 'giulio:settimana' elemento.0 %}">{{elemento.0}} </a>
                  </dt>
                  {% for giorno in elemento.1 %}
                       <dd><i>{{giorno.week_day}} </i>{{giorno.note}}</dd>
                  {% endfor %}
             {% endfor %}
             
             </dl>
            
    </body>

</html>
