<html>
    <head>
         {% load static %}
         <style>
             body {background-image: url({% static 'diario/modello.jpg' %});
                   background-repeat: no-repeat;}
             h1 {color: blue;}
             dt {font-weight: bold; margin: 10px;}
             #scheda {display: none; margin-top: 15px;}
             td {padding: 10px;}
             #user {color: red;}
         </style>
         <script>
                  function apri() {
                    // apre la scheda per inserire un nuovo giorno
                      document.getElementById('scheda').style.display = 'block';
                  }

                  function chiudi() {
                    // chiude la scheda di inserimento nuovo giorno
                      document.getElementById('scheda').style.display = 'none';
                  }

                  function elimina_giorni() {
                    // elimina i giorni selezionati
                    risp = confirm("vuoi cancellare i giorni selezionati?");
                    if (risp) {
                        document.getElementById('form_elimina').submit();
                    }
                  }
         </script>
    </head>
    
    <body>
             <h1> Diario settimanale pasti <span id=user>{{ request.user.username }}</span> </h1>
             <input type="button" onclick="javascript:apri()" value="Inserisci nuovo giorno"> 
             <input type="button" value="Elimina giorni selezionati" onclick="javascript:elimina_giorni()">
             
             <div id=scheda>
               <form method=post action = {% url 'diario:inserisci' %}>
                   {% csrf_token %}
                   <table>
                      <tr>
                      <td>Data:<br><input name=data type=date> 
                      <td>Note:<br> <input name=note type=text>
                      <tr>
                      <td><input type=submit value="Invia"> <td> 
                          <input type=button value="Annulla" onClick=chiudi()>
                   </table>
               </form>
             </div>
            
             <dl>
            <form id="form_elimina"  method="post" action="{% url 'diario:elimina_giorni' %}">
                {% csrf_token %}
    
                {% for elemento in lista_settimanale %}
                  <dt>settimana: <a href="{% url 'diario:settimana' elemento.0 %}">{{elemento.0}} </a>
                  </dt>
                    {% for giorno in elemento.1 %}
                        <dd>
                           <input type="checkbox" name="giorni_da_cancellare" value="{{giorno.id}}">
                           <i>{{giorno.week_day}} </i>{{giorno.note}}
                       </dd>
                    {% endfor %}
                {% endfor %}

             <form>
             </dl>
            
    </body>

</html>
