<html>
   <head>
      <style>
            #box {background: lightblue; padding: 15px; width: 25%; margin: auto;}
            h2 {color : blue; text-align: center;}
            h3 {color: #c00;}
            #invio {text-align: center;}
      </style>
   </head>
    
   <body>
      <div id=box>
         <h2>Diario Alimentare</h2>
         <form>
            <table>
               <tr>
                  <td>Utente: <td><input type=text name=user>
               <tr>
                  <td>Password: <td> <input type=password name=password> 
               <tr>
                  <td id=invio colspan=2><input type=submit value="Invia"> 
                                         <input type=reset value="Reset">
            </table>
         </form>
      </box>
    </body>
</html>
