<html>
    <head>
       <style>
           #pasto {color: red;}
       </style>
    </head>
    
    </body>
            <h2> Cosa hai mangiato oggi a <span id=pasto>{{strpasto}}</span></h2>
             {%if not nuovo %}
                {% for al in alimlist %}
                   {{al}} <br>
                {% endfor %}
                <hr>
                <p>
                Sono sicuro che hai dimenticato qualcosa, aggiungi:
             
                <select>
             
                  {% for ele in alimenti %}
                     <option value={{ele.id}}> {{ele}}
                  {% endfor %}
             
               </select>
               <input type=button value=dai>
            {% else %}
                Nessun oggetto Diario da visualizzare: da implementare la creazione <br>
                Devo creare l'oggetto Diario con data: {{data}}
            {% endif %}
    
    </body>

</html>
