<html>
    <head>
    
    </head>
    
    <body>
           
             <h2> Settimana Num. {{settimana}} </h2>
            
             {% for g in giornate %}
                <p><b>{{g.0}}</b><br>
                {% for h in g.1 %}
                    {{h}} : 
                        {%for al in h.alimento.all %}
                            {{al}},  
                        {% endfor %}
                    <br>
                {% endfor %}
             
             {% endfor %}
             
             <p>
             <a href="/diario"> Torna alla pagina principale </a>
    </body>

</html>
