{%load static %}
<html> 
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #logo {margin:15px;}
        </style>
        <script>
            
        </script>
    </head> 
    <body style="padding: 10px;"> 

        <img id=logo src="{% static 'contatti/logo.png' %}" style="margin-right: 5px;">
        Software Reservation Systems <p>
        <div class='w3-panel w3-pale-green w3-card-4'>
            <br>Grazie, richiesta di contatto ricevuta. <p>
            La contatteremo nel più breve tempo possibile <p>
        </div>
        <div class='w3-panel w3-pale-blue w3-card-4'>
            <br>Thank you for your request.<p>
            We will contact you as soon as possibile <p>
        </div>
        <p>
        <a href=javascript:history.go(-2)><button class="w3-btn w3-blue">Back</button></a> 
        </div>
    </body>
</html>