{% extends "contatti/base.html" %}
{% load static %}
{% block head %}
<style>
   
   /* #container {width: 80%; margin:auto} */
    .data {width: 12%;}
    .agente {width: 15%;}
    .azienda {width: 20%;}
    .azienda_rossa {width: 20%; color:red}
    .contratto {width:10%;}
    .localita {width: 20%;}
    #spunta {width:30px;}
    #myform {margin-left:10px;}
    .custom-province-field {
           width: 40px;  /* Imposta la larghezza desiderata */
    }
    .custom-aziende-field, .custom-citta-field, .custom-note-field {
           width: 300px;  /* Imposta la larghezza desiderata */
    }
    .campi {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-around;}
   /* input[type='text']   {width:300px} */
    
</style>
{% endblock %}

{% block content %}
<div class="w3-container w3-pale-green" >
    <h1 class="w3-text-black">Elenco Contatti</h1>
    <form method="get" id="myform">
    <div class="campi">
        <div>  Azienda <br> {{myFilter.form.azienda}} </div>
        <div>Città <br> {{myFilter.form.citta}} </div>
        <div>Note <br> {{myFilter.form.note}} </div> 
        <div>Da chiamare <br> {{myFilter.form.da_chiamare}}  </div>
        <div>Provincia <br> {{myFilter.form.provincia}} </div> 
        <div> <br><input type="submit" value="cerca"> </div>
    </div>
       
  
    </form>
<table class="w3-table-all w3-card-4" style="width:90%; margin: auto;">
    <th>Data</th><th>Agente</th><th>Star</th><th>Azienda</th> <th>Contratto</th>    <th>Località</th><th>Note</th>

    {%for con in contatti %} 
        <tr>
            <td class="data"> {{con.data}}  </td>
            <td class="agente"> {{con.agente}} </td>
            <td>{%if con.evidenziato %} <img id=spunta src="{% static '/contatti/spunta.png' %}" ALT=*> {%endif%}</td>
            {%if con.da_chiamare %}
                <td class="azienda_rossa">
            {%else%}
                <td class="azienda">
            {%endif%}
                <a href="{% url 'contatti:aziende'%}/{{con.azienda.id}}">{{con.azienda}}</a>
            </td>
            <td class="contratto">{{con.contratto}}({{con.contratto.prezzo}}€)</td>
            <td class="localita"> {{con.azienda.citta}}  </td>
            <td class="note"> {{con.note}}  </td>
        </tr>
    {% endfor %}

</table>    
</div>


{% endblock %}