{% extends "base.html" %}

       {% block head %}
          
              <style>
                     h2 {text-align: center;}
                     #container {width:90%;
                          margin: auto;
                     }
                     .ragione_sociale {width: 70%;}
                     .provincia {width: 10%;}
                     table {width: 90%;}
                     th  {background: #C90;}
                     td  {padding-left: 15; background: lavender;}
                     #id_sede_provincia  {width: 50px;}
              </style>
       {% endblock %}
   
       {% block content %}

       <div id=container>
              <h2>Elenco Aziende</h2>
       
              <form method="get">
                     Azienda: {{myfilter.form.ragione_sociale}}
                     Comune: {{myfilter.form.sede_comune}}
                     Provincia: {{myfilter.form.sede_provincia}}
                     <input type="submit" value="cerca">
              </form>
       
              <table>
                      <th>Ragione Sociale <th> Comune <th> Provincia               
                      {%for nome in object_list %}
                        <tr>
                        <td class=ragione_sociale>{{nome.ragione_sociale}} 
                        <td class=comune>{{nome.sede_comune}} 
                        <td class=provincia> {{nome.sede_provincia}}           
                      {%endfor %}
              </table>
       </div>

      {% endblock %}